[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.7"
