#highlight {
    color: #bd0000;
    font-size: 300%;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1rem 0;
  }

.subhighlight {
    font-size: 150%;
    line-height: normal;
}

body {
    background-color: rgb(245, 245, 245);
    background: rgb(245, 245, 245);
    line-height: 0.5
}

.shortline {
    line-height: 0.5;

}

.centerpin{
    display:flex;
    justify-content:center;   
    align-items:center
}

.bottompin{
    display:flex;
    align-items:flex-end;
}

nav ul {
    display:flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items:center;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.img-overlay-container {
    position: relative;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

.title-displayer {
    color: #6d6d6d;
    font-weight: 500;
    opacity: 1.0;
  }

.vote-counter {
    font-size: 1.8rem;
    color: #424242;
    line-height: 2.1em;
    margin: 10 10 10 10;
    font-weight: lighter;
    opacity: 1.0;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.vote-counter:hover {
    border: none;
    font-weight: bold;
    text-shadow: 4px 4px 8px rgb(94, 94, 94);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(245, 245, 245);
    /* background-color: #787878; */
}

.img-overlay-container:hover .overlay {
    opacity: 0.8;
}   


.gallery {
    padding: 1rem 4rem 4rem 4rem;
  }

nav {
    padding: 1rem 0 0.5rem 0;
    list-style: none
}

#nav-menu {
    list-style: none;
    padding: 1rem 1rem 0 1rem;
}

#nav-menu li {
    font-size: 1.7rem;
}

#nav-menu li a:hover {
    /* text-decoration: underline; */
    color: #2e2e2e;
    font-weight: 530;
    /* text-shadow: 4px 4px 8px rgb(94, 94, 94); */
}

.selected-nav-item {
    /* text-decoration: underline; */
    font-weight: 530;
    /* text-shadow: 4px 4px 8px rgb(94, 94, 94); */
}

.footer-button {
    /* font-size: 1.5rem; */
    color: #2e2e2e;
    background-color: none;
    border: none;
    font-size: 1.7rem;
}

.gallery {
    padding-bottom: 0;
}

.footer-button a:hover {
    font-weight: 530;
    text-shadow: 4px 4px 8px rgb(94, 94, 94);
}

.img-container {
    width: 100%;
    height:auto;
    cursor: pointer;
    overflow: hidden;
    margin: auto;
  }


a {
    color: #2e2e2e;
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}