#highlight {
    color: #bd0000;
    font-size: 300%;
    font-weight: bold;
    line-height: 0;
  }

.subhighlight {
    font-size: 150%;
    line-height: 1rem;
}

body {
    background-color: rgb(245, 245, 245);
    background: rgb(245, 245, 245);
    line-height: 0.5
}

.shortline {
    line-height: 0.5
}

.centerpin{
    display:flex;
    justify-content:center;   
    align-items:center
}

.bottompin{
    display:flex;
    align-items:flex-end;
}

nav ul {
    display:flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items:center;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.img-overlay-container {
    position: relative;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.title-displayer {
    color: #6d6d6d;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: 500;
    opacity: 1.0
  }

.vote-counter {
    color: #6d6d6d;
    font-size: 1.5em;
    line-height: 2.1em;
    margin: 10 10 10 10;
    font-weight: 500;
    opacity: 1.0;
    background-color: transparent;
    border: none;
    cursor:pointer;
}

.vote-counter:hover {
    color: white;
    background-color: #bd0000;
    border: none;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(245, 245, 245);
    /* background-color: #787878; */
}

.img-overlay-container:hover .overlay {
    opacity: 0.8;
}   


.gallery {
    padding: 1rem 4rem 4rem 4rem;
  }

nav {
    padding: 1rem 0 0.5rem 0;
    list-style: none
}

#nav-menu {
    list-style: none;
    padding: 1rem 1rem 0 1rem;
}

.img-container {
    width: 100%;
    height:auto;
    cursor: pointer;
    overflow: hidden;
  }