<html>
    <head>
        <title>{{ config.title }}</title>
        <link href="{{url_for('frontend', path='static/main-styles.css')}}" rel="stylesheet">
        <link href="{{url_for('frontend', path='static/custom-styles.css')}}?v={{css_version}}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{url_for('frontend', path='icon.png')}}" />
        <script src="{{url_for('frontend', path='static/script.js')}}?v={{js_version}}"></script>
    </head>
    <body>
        <nav>
            <div class="container">
              <div class="grid">
                <div class="column-xs-12 shortline">
                  <a href="/"><p id="highlight">Léonce MVP 🏆</p></a>
                </div>
                <div class="column-xs-12 subhighlight">
                    Since 2014, Léonce has consistently won unanimous and sans-sauce MVPs.
                </div>
                <div class="column-xs-12 subhighlight">
                  <ul id="nav-menu">
                    <li><a id="ranked-nav-item" class="unselected-nav-item" href="/ranked">🥇 All-time ranking</a></li>
                    <li><a id="random-nav-item" class="unselected-nav-item" href="/random">🎲 Random</a></li>
                    <script>setClicked("{{nav}}-nav-item")</script>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
          <section class="gallery">
            <div class="container">
                <div class="grid">
                    {% for video in videos %}
                        <div class="column-xs-12 column-sm-12 column-md-6">
                          <figure class="img-container">
                              <div class="img-overlay-container">
                                <!-- <span class="img-content-hover"></span> TODO -->
                                <img src="{{video.thumbnail_url}}" loading="lazy" />
                                <div class="overlay" >
                                  <div class="text-overlay">
                                    <div class="title-displayer">
                                        {{video.title}}
                                    </div>
                                    <a href="{{video.url}}" title="Go to YouTube" class="vote-counter">
                                      🎬
                                    </a>
                                    <button title="Upvote this image" class="vote-counter" onclick="upvote('{{video.id}}')">
                                      👍<b id="vote-total-number-{{video.id}}" style="font-size: 1.2rem;">{{video.votes|length}}</b>
                                    </button>
                                  </div>
                                </div>
                              </div>  
                            
                          </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
          </section>
          <footer>
            <div class="container">
              <div class="grid">
                <div class="column-xs-12">
                  <p class="footer-button">
                      <a href="/random">🎲 More</a>
                    </p>
                </div>
                <div class="column-xs-12">
                  <p class="copyright">
                      Made by pauldes <a href="https://github.com/pauldes/leonce-mvp">(GitHub)</a>
                    </p>
                </div>
              </div>
            </div>
          </footer>
    </body>
</html>
