<html>
    <head>
        <title>{{ config.title }}</title>
        <link href="{{url_for('frontend', path='static/main-styles.css')}}" rel="stylesheet">
        <link href="{{url_for('frontend', path='static/custom-styles.css')}}" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{url_for('frontend', path='icon.png')}}" />
        <script src="{{url_for('frontend', path='static/script.js')}}"></script>
    </head>
    <body>
        <nav>
            <div class="container">
              <div class="grid">
                <div class="column-xs-12 shortline">
                  <p id="highlight">Léonce MVP 🏆</p>
                </div>
                <div class="column-xs-12 subhighlight">
                    Since 2014, Léonce has consistently been nominated unanimous, sans-sauce MVP.
                </div>
                <div class="column-xs-12 subhighlight">
                  <ul>
                    <li><a href="/home" class="active">🎲 Random</a></li>
                    <li>👍 Ranking</li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
          <section class="gallery">
            <div class="container">
                <div class="grid">
                    {% for video in videos %}
                        <div class="column-xs-12 column-sm-6 column-md-6">
                          <figure class="img-container">
                              <div class="img-overlay-container">
                                <!-- <span class="img-content-hover"></span> TODO -->
                                <img src="{{video.thumbnail_url}}" loading="lazy" />
                                <div class="overlay" >
                                  <div class="text-overlay">
                                    <div class="title-displayer">
                                      <a href="{{video.url}}">
                                        {{video.title}}
                                      </a>
                                    </div>
                                    <button title="Upvote this image" class="vote-counter" onclick="upvote('{{video.id}}')">
                                      👍 <b style="font-size: 0.7em; font-weight: normal">({{video.votes|length}})</b>
                                    </button>
                                  </div>
                                </div>
                              </div>  
                            
                          </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
          </section>
          <footer>
            <div class="container">
              <div class="grid">
                <div class="column-xs-12">
                  <p class="copyright">
                      Made by pauldes <a href="https://github.com/pauldes/leonce-mvp">(GitHub)</a>
                    </p>
                </div>
              </div>
            </div>
          </footer>
    </body>
</html>
